@font-face {
  font-family: "iconfont"; /* Project id 3536915 */
  src: url('iconfont.woff2?t=1658368446623') format('woff2'),
       url('iconfont.woff?t=1658368446623') format('woff'),
       url('iconfont.ttf?t=1658368446623') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e66a";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-touxiang:before {
  content: "\e655";
}

.icon-xiugaimima:before {
  content: "\e631";
}

.icon-liebiao_o:before {
  content: "\eb7c";
}

.icon-jibenziliao:before {
  content: "\e61f";
}

.icon-wenzhangguanli:before {
  content: "\e628";
}

.icon-leibie:before {
  content: "\e649";
}

.icon-ziyuan60:before {
  content: "\e77a";
}

