* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: url(../images/login_bg.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.logo {
    margin: 20px 0 0 60px;
}

.loginAndReg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    padding: 0 20px;
    background-color: #fff;
}

.title {
    height: 60px;
    background: url(../images/login_title.png) no-repeat center;
}

.reg {
    display: none;
}

#link_reg,
#link_login {
    display: block;
    float: right;
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}


.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    line-height: 18px;
}

.layui-input {
    padding-left: 40px;
}