* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
    background-color: #f0f2f5;
}

.layui-input {
    width: 500px;
}

.layui-form-label {
    width: 100px;
    padding-right: 0;
}